<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARNGREN</title>
    <link rel="stylesheet" href="/styles/e-bike.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="logo">
            <img src="https://e5a274c94b44944351f0.cdn6.editmysite.com/uploads/b/e5a274c94b44944351f00bcef084ff8aaa439b44efc0d958c76cb7c2c780e5c8/Screenshot%202021-09-10%20092008_1631258556.png?width=2400&optimize=medium">
            <h1>ARNGREN.net</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar produtos...">
            <button>Buscar</button>
        </div>
        <nav class="user-nav">
            <a href="#">Minha Conta</a>
            <a href="#">Carrinho</a>
        </nav>
    </header>

    <div class="container">

        <main class="main-content">
            <section class="banner">
                <h2>E-Bike Fatbike</h2>
            </section>

            <section class="featured-products">
                <div class="product-grid">
                    <div class="product-card">
                        <img src="/imagens/bike_fat.jpg" alt="Produto 1">
                        <h3>E-Bike Fatbike</h3>
                        <p>Preço: R$ 2.999,00</p>
                        <button>Comprar</button>
                    </div>
                    <div class="descricao">
                        <p>
                            <br><br>
                            Motor: 250 / 500w Motor de cubo dianteiro sem escova
                            de alta eficiência.<br>
                            Quadro: Aço de alta resistência.<br>
                            Cabo do motor com conector de liberação rápida.<br>
                            Pneus: F/20"x1.75; R/16 " x1.75<br>
                            Borda: Parede dobro da liga do Al e parede lateral do CNC.<br>
                            Controlador: 36V Pequeno controlador inteligente.<br>
                            Garfo dianteiro : Aço sem suspensão.<br>
                            Proteção contra sobrecarga de corrente e tensão.<br>
                            Freios (dianteiros): freios em V.<br>
                            Pedalada: Corrida/Pedalada-Corrida Assistida Elétrica.<br>
                            Freios (traseiros): Freio<br>
                            a tambor Modo de pilotagem: Acelerador/PAS ou combinação de ambos os raios: aço inoxidável 13g.<br></p>
                    </div>
                    
                    
                </div>
            </section>            
        </main>
    </div>

</body>
</html>