<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARNGREN</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="logo">
            <img src="https://e5a274c94b44944351f0.cdn6.editmysite.com/uploads/b/e5a274c94b44944351f00bcef084ff8aaa439b44efc0d958c76cb7c2c780e5c8/Screenshot%202021-09-10%20092008_1631258556.png?width=2400&optimize=medium">
            <h1>ARNGREN.net</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar produtos...">
            <button>Buscar</button>
        </div>
        <nav class="user-nav">
            <a href="#">Minha Conta</a>
            <a href="#">Carrinho</a>
        </nav>
    </header>

    <div class="container">
        <aside class="sidebar">
            <h2>Categorias</h2>
            <ul class="nav-menu">
                <li><a href="#veiculos">Veículos</a></li>
                <li><a href="#infantil">Infantil</a></li>
                <li><a href="#diverso">Diversos</a></li>
            </ul>
        </aside>

        <main class="main-content">
            <section class="banner">
                <h2>Promoções da Semana!</h2>
                <p>Veículos elétricos com até 30% de desconto.</p>
            </section>

            <section class="featured-products">
                <h2 id="veiculos">Veículos</h2>
                <div class="product-grid">
                    <div class="product-card">
                        <img src="/imagens/bike_fat.jpg" alt="Produto 1">
                        <h3>E-Bike Fatbike</h3>
                        <p>Preço: R$ 2.999,00</p>
                        <a href="e-bike.html"><button>Comprar</button></a>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/atv_eletrico.jpg" alt="Produto 2">
                        <h3>ATV Elétrico</h3>
                        <p>Preço: R$ 6.109,00</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/mini moke.jpg" alt="Produto 3">
                        <h3>Mini Moke</h3>
                        <p>Preço: R$ 162.783,40</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/titan zero r1.jpg" alt="Produto 4">
                        <h3>Titan Zero R1</h3>
                        <p>Preço: R$  16.524,00</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/Scooter Elétrica.jpg" alt="Produto 4">
                        <h3>Scooter Elétrica</h3>
                        <p>Preço: R$ 4.399,00</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/bicicleta eletrica de 3 rodas.jpg" alt="Produto 4">
                        <h3>Bicicleta Eletrica de 3 Rodas</h3>
                        <p>Preço: R$ 4.588,00</p>
                        <button>Comprar</button>
                    </div>
                </div>
            </section>

            <hr>

            <section class="featured-products">
                <h2 id="infantil">Infantil</h2>
                <div class="product-grid">
                    <div class="product-card">
                        <img src="/imagens/dinosaur pleo.jpg" alt="Produto 1">
                        <h3>Dinosaur Pleo</h3>
                        <p>Preço: R$ 649,95</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/roboraptor.jpg" alt="Produto 2">
                        <h3>roboraptor</h3>
                        <p>Preço: R$ 215,99</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/carro_eletrico_para_criança.jpg" alt="Produto 3">
                        <h3>Carro Elétrico para Criança</h3>
                        <p>Preço: R$ 1.480,00</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/monoploy star wars.jpg" alt="Produto 4">
                        <h3>Monoploy Star Wars</h3>
                        <p>Preço: R$ 449,10 </p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/trem de brinquedo.jpg" alt="Produto 4">
                        <h3>Trem de Brinquedo</h3>
                        <p>Preço: R$ 54,90</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/boneco yoda.jpg" alt="Produto 4">
                        <h3>Boneco do Yoda</h3>
                        <p>Preço: R$ 744,79</p>
                        <button>Comprar</button>
                    </div>
                </div>
            </section>
            
            <hr>

            <section class="featured-products">
                <h2 id="diverso">Diversos</h2>
                <div class="product-grid">
                    <div class="product-card">
                        <img src="/imagens/kit braço robotico.jpg" alt="Produto 1">
                        <h3>Kit Braço robotico</h3>
                        <p>Preço: R$ 758,95</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/telescópio.jpg" alt="Produto 2">
                        <h3>telescópio</h3>
                        <p>Preço: R$ 2.799,00</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="/imagens/arvore de natal.jpg" alt="Produto 3">
                        <h3>Árvore de Natal</h3>
                        <p>Preço: R$ 364,82</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="https://www.arngren.net/oversetter.2.jpg" alt="Produto 4">
                        <h3>Oversetter</h3>
                        <p>Preço: R$  534,84</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="https://m.media-amazon.com/images/I/61xXezkNruL._AC_SX679_.jpg" alt="Produto 4">
                        <h3>Mini TV</h3>
                        <p>Preço: R$ 767,00</p>
                        <button>Comprar</button>
                    </div>
                    <div class="product-card">
                        <img src="https://images.tcdn.com.br/img/img_prod/685558/binoculo_profissional_skylife_astronomico_25x100_night_sky_379_1_20200124113105.jpg" alt="Produto 4">
                        <h3>Binóculo</h3>
                        <p>Preço: R$ 5.985,00</p>
                        <button>Comprar</button>
                    </div>
                </div>
            </section>
        </main>
    </div>

</body>
</html>